<html>
	<head>
		<title>Title</title>
		<link rel="stylesheet" href="angular-material/angular-material.css">
	</head>
	<body>
		<div ng-controller="indexController" layout="column" layout-align="center center" layout-wrap>
			<md-input-container>
				<label translate="language"></label>
				<md-select ng-model="language" ng-change="chooseLanguage(language)">
					<md-option translate="bulgarian" ng-value="'bg'"></md-option>
					<md-option translate="english" ng-value="'en'"></md-option>
				</md-select>
			</md-input-container>
			<div ng-hide="host" layout="column" layout-align="center center" layout-wrap>
				<md-input-container>
					<label translate="incubator-connect"></label>
				 	<input ng-model="incubator" required>
				</md-input-container>
				<md-button class="md-primary" ng-click="connect()" translate="connect"></md-button>
			</div>
			<div ng-show="host" layout="column" layout-align="center center" layout-wrap layout-margin layout-padding>
                <div ng-controller="navigationController as navigate">
                    <md-button
                    	ng-repeat="button in ['home', 'test', 'settings', 'tuning']"
                    	ng-class="navigate.button === $index ? 'md-raised' : ''"
                    	class="md-primary"
						translate="{{button}}"
                    	ng-href="#/{{button}}"></md-button>
                </div>
				<div ng-view></div>
            </div>
		</div>
		<script src="angular/angular.js"></script>
		<script src="angular-material/angular-material.js"></script>
		<script src="angular-messages/angular-messages.js"></script>
		<script src="angular-aria/angular-aria.js"></script>
		<script src="angular-animate/angular-animate.js"></script>
		<script src="angular-resource/angular-resource.js"></script>
		<script src="angular-route/angular-route.js"></script>
		<script src="angular-translate/dist/angular-translate.js"></script>
		<script src="index.js"></script>
        <script src="index_controller.js"></script>
		<script src="tuningController.js"></script>
		<script src="incubator_controller.js"></script>
		<script src="navigation_controller.js"></script>
		<script src="dht_controller.js"></script>
		<script src="settings_controller.js"></script>
		<script src="power_button/controller.js"></script>
		<script src="power_button/component.js"></script>
        <script src="settings_field/component.js"></script>
		<script src="settings_fields/component.js"></script>
	</body>
</html>
