<div class="md-title" layout="column" layout-align="center center">
  <div lyaout="column" layout-align="center center">
    <settings-fields
        ng-repeat="setting in ['incubation', 'hatching']"
        name="{{setting}}"
        rotate-field="setting === 'incubation'"
        on-update="settings.update(setting, settingsList)">
    </settings-fields>
  </div>
  <md-input-container>
    <label>Program name</label>
    <input ng-model="settings.program.name"></input>
  </md-input-container>
  <md-button class="md-primary md-raised" ng-click="settings.saveProgram()">Save</md-button>
</div>
