<div layout="column" layout-align="center strech">
    <div layout="row" layout-align="center center">
        <md-input-container ng-repeat="input in ['targetTemp', 'period']">
            <label>{{input}}</label>
            <input type="number" ng-model="tuning[input]" step="0.01" min="0"></input>
        </md-input-container>
    </div>
    <div layout="row" layout-align="center strech" layout-wrap>
        <md-input-container ng-repeat="output in ['measeredTemp', 'correction']">
            <label>{{output}}</label>
            <input type="number" ng-model="tuning[output]" ng-disabled="true"></input>
        </md-input-container>
    </div>
    <div layout="row" layout-align="center center">
        <md-input-container ng-repeat="c in ['r_p', 'r_d', 'r_i']">
            <label>{{c}}</label>
            <input type="number" ng-model="tuning[c]" ng-disabled="true"></input>
        </md-input-container>
    </div>
    <div layout="row" layout-align="center center">
        <md-input-container ng-repeat="c in ['p', 'd', 'i']">
            <label>{{c}}</label>
            <input type="number" ng-model="tuning[c]" step="0.01" min="0"></input>
        </md-input-container>
    </div>
    <md-button ng-click="tuning.update()" class="md-primary md-raised" translate="set"></md-button>
</div>
