<div layout="column" layout-align="center center">
    <div ng-repeat="i in [0, 1]" layout="row" md-theme="default" layout-align="center center">
        <md-input-container
            ng-repeat="setting in $ctrl.all"
            ng-if="(($index >= i * 2) && ($index <= i * 2 + 1)) && (setting !== $ctrl.all[1] || $ctrl.rotateField)">
            <label>{{setting}}</label>
            <input
                ng-model="$ctrl.settings[setting]"
                type="number"
                min="1"
                ng-change="$ctrl.onUpdate({
                    field: setting,
                    value: $ctrl.settings[setting],
                    fields: $ctrl.all.length + ($ctrl.rotateField ? 1 : 0)
                })">
            </input>
        </md-input-container>
        <md-button ng-if="$ctrl.removeBtn" class="md-warn md-raised" ng-click="$ctrl.onRemove()">Remove</md-button>
    </div>
</div>
